@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* tailwindcss/base is breaking my project CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* TODO: Organize CSS*/
body {
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* Styling the scrollbar */
body::-webkit-scrollbar {
  width: 0.75rem;
}

/* Styling the scrollbar track */
body::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

/* Styling the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: black;
}

/* Add a hover effect to the scrollbar thumb */
body::-webkit-scrollbar-thumb:hover {
  background: turquoise;
}


@layer utilities {
/* TO DO: Try to put b-1, I have problems with the borderWidth in the tailwind.config.js */
  .hover-border-2 {
    @apply hover:border-b-2;
    @apply hover:border-gray-600;
  }


}





